<div class="container">
  <div class="row">
    <div class="col-md-5">
      <div class="project-info-box mt-0">
        <h2>{{singleProduct?.name}}</h2>
        <p class="mb-0">{{singleProduct?.category}}</p>
      </div>

      <div class="project-info-box">
        <p><b>Price:</b> {{singleProduct?.price}}</p>
        <p><b>Currency:</b> {{singleProduct?.currency}}</p>
        <p><b>Description:</b> {{singleProduct?.description}}</p>
        <p><b>Details:</b>{{singleProduct?.details}}</p>
      </div>


    </div>
  </div>
